<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Blow The Fog Horn </title>
      <link rel="stylesheet" href="../Styles/Simon.css">

      <script src="../Scripts/jquery.js"></script>
      <script src="../Scripts/beertype.js"></script>

      <script src="../Database/Dutchman Files/Beverages.js"></script>
      <script src="../Scripts/translateMasterPage.js"></script>
      <script src="../Scripts/undoredo.js"></script>
      <script src="../Scripts/undomanager.js"></script>
      <script src="../Database/Dutchman Files/translations.js"></script>

    <script>
        /*
                Loads the master.html into the page
         */
        $(function(){
            $("#masterContent").load("master.html",null,function(){
            });
        });


        // Global user variable
        var user = "Johan";
        //Cart Counter Variable
        var counter=0;

       /* $(function(){
            $("#masterContent").load("master.html",null,function(){

            });
        });*/
        // Implement Drag
        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        // implement Drop
        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            var nodeCopy = document.getElementById(data).cloneNode(true);
            var nodeCopy1 = nodeCopy.cloneNode(true);
            nodeCopy.draggable ="false";
            nodeCopy.id = Math.random();
            var info1 = $("#"+data).text();
            ev.target.appendChild(nodeCopy);

            var elementdragged = $("#" +data).text();
           // alert(info);
            var priceofelement = elementdragged.split(":")[1];
            var removesek = priceofelement.substring(0, priceofelement.length - 6);
            var desiredint = removesek.substring(1);
            //alert(name2);
            var finalint = parseFloat((desiredint),10);
            totalsum = totalsum + finalint;
            $("#totalid").text("Totalsumma: " + totalsum + " kr.");
            /*
            Extract the name of the drink
             */
            //var name1 = arrayItem1[0];
            /*
            Removes the space before the name to get the beerName
             */
            //var beerName1 = name1.substring(1);
            //alert(name1);
            /*
            Stores the beerName in the local storage.
            To give customerBeerInfo access to the specific beer
             */
                // Example  johan_beerName_0
               // sessionStorage.setItem(user+"_beerName_"+counter, beerName1);
               // counter++;
               // console.log(counter);

            //var info1 = $("#"+data).text();
            var before = totalsum - finalint;
            addtostack(nodeCopy);
            addsum(before);
            addredosum(finalint);

            //calculatetotal();

        }

        function allowDrop(ev) {
            ev.preventDefault();
        }

        function saveCart(){
            var text = $("#cartview").text();
            alert("text innan= " + text);
            text = text.replace(/\n/g, ':').split(':');
            alert("text efter= " + text);
            var cartList = text.split(":");
            //alert(cartList);

           // alert(sessionStorage.getItem("cartList"));
            /*
            var i = 0;
            for(i; i < splittedList.length;i++){
                alert(splittedList[i]);
            }
*/



        }

    </script>
  </head>


 </head>

  <body> 
   
  <div id="masterContent"></div><
   
 <div id="beerTypeWrapper"
  <!-- List with beers -->
  <div id="beerListWrapper">
    <div>
        <h1 id="beertypeheader"></h1>
    </div>
    <div class="beerlist">
      <ul>
        <div class="beeritems">

            <li id="item1"  draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item2"  draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item3" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item4" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item5"  draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item6" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item7" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item8" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item9" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item10" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item11" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item12" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item13" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item14" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item15" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item16" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item17" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item18" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item19" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item20" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item21" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item22" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item23" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item24" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item25" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>

        </div>
      </ul>
    </div>
  </div>


     <!-- Simons cart-->
    <div id="cartWrapper">
      <img  class="imgSize" src="../img/cart.png">
      <p class="carttext">Cart</p> 

          <div>
          <button class="undoredo" id="undo" onclick="undoclick();return false;">Undo</button>
          <button class="undoredo" id="redo" onclick="redoclick();return false;">Redo</button>
        </div>
        <div
            class="order" id="cartview" ondrop="drop(event)" ondragover="allowDrop(event)">
      </div>
      <div class="totalsum" id="totalid">
    </div>
  </div> 
 </div>

   </body>

  </html>