<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Blow The Fog Horn </title>
      <link rel="stylesheet" href="../Styles/Simon.css">
      <script src="../Scripts/jquery.js"></script>
      <script src="../Database/Dutchman Files/Beverages.js"></script>

    <script>

        /*
                Loads the master.html into the page
         */

        /*
        Print Beer information into the two divs
        */
        $(function displayToDivs(){
            /*
            Variables for each beer
             */
            var beer = findBeer("\u00c3\u2013l, Porter och Stout");
            var name = beer[0];
            var nr = beer[1];
            var varugrupp = beer[2];

            /*
            Append some info to the left div
             */


            /*
            Append some info the right div
             */
            $("#item2").append(varugrupp);
            $("#item3").append(name);
            $("#item4").append(name);

        });

        /*
          Returns information (nr,varugrupp,ursprung,leverantor,pris) for the last beer from the DB with
          a particular name
        */
        function findBeer(spiritName){
            var info = [];
            var nr =  findBeerNr(spiritName);

            for (i = 0; i<DB2.spirits.length;i++){
                if (DB2.spirits[i].nr == nr){

                    info.push(DB2.spirits.namn);
                    info.push(DB2.spirits[i].nr);
                    info.push(DB2.spirits[i].varugrupp);

                }
            }
            return info;
        }

        /*
        Returns the last nr of a specific spirit
         */
        function findBeerNr(beerName){
            var nr;

            for (i=0; i<DB2.spirits.length;i++){
                if (DB2.spirits[i].varugrupp == beerName){
                    nr = DB2.spirits[i].nr;
                }
            }
            return nr;
        }

    </script>
  </head>
 <!-- Button to open the modal login form -->
    <div>
    <button onclick="document.getElementById('id01').style.display='block'" class="loginb">Login</button>
    </div>

    <div>
    <button onclick="document.getElementById('id02').style.display='block'" class="regb">Register</button>
    </div>
    <!-- The Modal -->
    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" 
    class="close" title="Close Modal">&times;</span>

  <!-- Modal Content Login -->
      <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
          <img src="https://c1.staticflickr.com/8/7405/16446487722_48ebe347c0_b.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <button type="submit" class="loginbutton">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

    <div id="id02" class="modal">
      <span onclick="document.getElementById('id02').style.display='none'"
    class="close" title="Close Modal">&times;</span>

      <!-- Modal Content Register -->
      <form class="modal-content animate" action"/action_page.php">
        <div class="imgcontainer">
          <img src="https://c1.staticflickr.com/8/7405/16446487722_48ebe347c0_b.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label for="uname"><b>Name</b></label>
          <input type="text" placeholder="Enter Full Name" name="name" required>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit" class="registerbutton">Register</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>
    <article>
      <header>
        <h1 id="beertypeheader"></h1>
      </header>
    </article>
    <div class="beerlist">
      <ul>
        <div class="beeritems">
            <li id="item1"><span id="nr"></span> </li>
            <li id="item2"><span id="classOfGoods"></span> </li>
            <li id="item3"><span id="alcoholPercentage"></span> </li>
            <li id="item4"><span id="packaging"></span> </li>
        </div>
      </ul>
    </div>
      </body>

  </html>

  </html>