<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Blow The Fog Horn </title>
      <link rel="stylesheet" href="../Styles/Simon.css">

      <script src="../Scripts/jquery.js"></script>
      <script src="../Scripts/beertype.js"></script>

      <script src="../Database/Dutchman Files/Beverages.js"></script>
      <script src="../Scripts/translateMasterPage.js"></script>
      <script src="../Scripts/undoredo.js"></script>
      <script src="../Scripts/undomanager.js"></script>
      <script src="../Database/Dutchman Files/translations.js"></script>

    <script>
        /*
                Loads the master.html into the page
         */
        $(function(){
            $("#masterContent").load("master.html",null,function(){
            });
        });


        // Global user variable
        var user = "Johan";
        //Cart Counter Variable
        var counter=0;

        // Implement Drag
        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        // implement Drop
        // This function first copies the item that is being
        // dragged and then adds it to the element it is dragged to
        // The copied string is also manipulated to remove the first part before the ":" to get the price of the product to be able to alter the total sum variable.
        function drop(ev) {
          // This part is for the drag n' drop and how the element is copied to the new location
          // without removing it from the location it was dragged from
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            var nodeCopy = document.getElementById(data).cloneNode(true);
            var nodeCopy1 = nodeCopy.cloneNode(true);
            nodeCopy.draggable ="false";
            nodeCopy.id = Math.random();
            var info1 = $("#"+data).text();
            ev.target.appendChild(nodeCopy);

            // This part is for the total sum variable and its manipulation
            var elementdragged = $("#" +data).text();
           
            var priceofelement = elementdragged.split(":")[1];
            var removesek = priceofelement.substring(0, priceofelement.length - 6);
            var desiredint = removesek.substring(1);
            
            var finalint = parseFloat((desiredint),10);
            totalsum = totalsum + finalint;
            $("#totalid").text("Totalsumma: " + totalsum + " kr.");
            var before = totalsum - finalint;

            // Adds the different variables to the stacks to keep track of what has been added
            addtostack(nodeCopy);
            addsum(before);
            addredosum(finalint);

        }

        function allowDrop(ev) {
            ev.preventDefault();
        }

        function saveCart(){
            /*
            Read the text from the cart div and convert it to a string
            */
            var textFromDiv = $("#cartview").text();
            textFromDiv = JSON.stringify(textFromDiv);

            /*
            Manipulates the string, removes white spaces and '\n'
            Split it to an array.
            */
            textFromDiv = textFromDiv.replace(/\s+/g, '');
            textFromDiv = textFromDiv.replace(/\\n/g, ":");
            var textArray = textFromDiv.split(":");

            /*
            Removes the first and last element in the array
            The first and last element was \n because that was how
            the beer was saved in the db.
            */
            textArray.shift();
            textArray.pop();

            var saveToStorage = [];

            /*
            Pushes every second element to the array saveToStorage
             */
            for(var i = 0; i < textArray.length; i +=2){
                saveToStorage.push(textArray[i]);
            }

            sessionStorage.setItem("cart", JSON.stringify(saveToStorage));


        }

    </script>
  </head>

  <body> 
   
  <div id="masterContent"></div>
   
 <div id="beerTypeWrapper">
  <!-- List with beers -->
  <div id="beerListWrapper">
    <div>
        <h1 id="beertypeheader"></h1>
    </div>
    <div class="beerlist">
      <ul>
        <div class="beeritems">

          <!--These are the elements used to display the beers, 13 of each type which can be drag n' dropped -->

            <li id="item1"  draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item2"  draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item3" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item4" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item5"  draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item6" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item7" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item8" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item9" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item10" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item11" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item12" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item13" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item14" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item15" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item16" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item17" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item18" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item19" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item20" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item21" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item22" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item23" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item24" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>
            <li id="item25" draggable="true" class ="hoverable" ondragstart="drag(event)"> </li>

        </div>
      </ul>
    </div>
  </div>


     <!-- This is for the cart where items can be drag and dropped and also where the totalsum is displayed-->
    <div id="cartWrapper">
      <img  class="imgSize" src="../img/cart.png">
      <p class="carttext">Cart</p> 

          <div>
          <button class="undoredo" id="undo" onclick="undoclick();return false;">Undo</button>
          <button class="undoredo" id="redo" onclick="redoclick();return false;">Redo</button>
        </div>
        <div
            class="order" id="cartview" ondrop="drop(event)" ondragover="allowDrop(event)">
      </div>
      <div class="totalsum" id="totalid">
    </div>
  </div> 
 </div>

   </body>

  </html>