<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../Styles/customerPage.css">
</head>
<body>
<div class="background">
    <!--<img src="https://static.pexels.com/photos/172292/pexels-photo-172292.jpeg" id="bgPic">-->
    <div class="content" id="username">
        <p> Put name in here </p>
    </div>

    <div class="content" id="buttonGroup">
        <button id="CheckBalance" type="button">Check balance</button>
        <button id="TopUp" type="button">Top up credit</button>
        <button id="SeeOrder" type="button">See order history</button>
        <button id="ChangePassword" type="button">Change password</button>
    </div>
</div>



</body>
</html>



