<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beer Information</title>
    <link rel="styleSheet" href="../Styles/customerBeerInfo.css">
    <script src="../Scripts/jquery.js"></script>
    <!--
    Import translation script
    -->
    <script src="../Scripts/translateCustomerBeerInfo.js"></script>

    <!--
    Import Beverages db
    -->
    <script src="../Database/Dutchman Files/Beverages.js"></script>
    <!--
    Import translations
    -->
    <script src="../Database/Dutchman Files/translations.js"></script>


    <script>

        /*
                Loads the master.html into the page
         */
        $(function(){
            $("#masterContent").load("master.html",null,function(){
                // $(document).ready(function(){


            });
        });

        /*
        Print Beer information into the two divs
        */
        $(function displayToDivs(){
            /*
            Variables for each beer
             */
            var beer = findBeer(localStorage.getItem("beerName");
            var name = beer[0];
            var nr = beer[1];
            var varugrupp = beer[2];
            var ursprung = beer[3];
            var leverantor = beer[4];
            var pris = beer[5];
            var alkholhalt = beer[6];
            var forpackning = beer[7];

            /*
            Append some info to the left div
             */
            $("#item6").append(ursprung);
            $("#item7").append(leverantor);

            /*
            Append some info the right div
             */
            $("#item1").append(nr);
            $("#item2").append(varugrupp);
            $("#item3").append(alkholhalt);
            $("#item4").append(forpackning);

            $("#beerName").append(name);

        });


        $(document).ready(function(){
            var counter = 0;
            $(".payButton").click(function(){
                //alert("The item is now in the cart");
                var buyBeer = $("#beerName").text();
                var cart = JSON.parse(localStorage.getItem("cart"));
                cart.push(buyBeer);
                localStorage.setItem("cart",JSON.stringify(cart));
                var cart2 = JSON.parse(localStorage.getItem("cart"));

                alert(cart2);


                /*
                NOTIS: starts at 0
                 */
                $("#cartLabel").text(counter++);
            });
        });

        /*
          Returns information (nr,varugrupp,ursprung,leverantor,pris) for the last beer from the DB with
          a particular name
        */
        function findBeer(spiritName){
            var info = [];
            var nr =  findBeerNr(spiritName);

            for (i = 0; i<DB2.spirits.length;i++){
                if (DB2.spirits[i].nr == nr){

                    info.push(DB2.spirits[i].namn);
                    info.push(DB2.spirits[i].nr);
                    info.push(DB2.spirits[i].varugrupp);
                    info.push(DB2.spirits[i].ursprung);
                    info.push(DB2.spirits[i].leverantor);
                    info.push(DB2.spirits[i].pris);
                    info.push(DB2.spirits[i].alkoholhalt);
                    info.push(DB2.spirits[i].forpackning)

                }
            }
            return info;
        }

        /*
        Returns the last nr of a specific spirit
         */
        function findBeerNr(beerName){
            var nr;

            for (i=0; i<DB2.spirits.length;i++){
                if (DB2.spirits[i].namn == beerName){
                    nr = DB2.spirits[i].nr;
                }
            }
            return nr;
        }

    </script>

</head>
<body>

<div id="masterContent"></div>

<div > <h1 id="beerName":></h1> </div>

<div class = "main" >

    <div class="beerBackgroundInfo">
        <ul>
            <li id="item6"><span id="origin"></span> </li>
            <li id="item7"><span id="provider"></span> </li>

        </ul>
        

    </div>

    <div class="beerCostInfo">
        <ul>
            <li id="item1"><span id="nr"></span> </li>
            <li id="item2"><span id="classOfGoods"></span> </li>
            <li id="item3"><span id="alcoholPercentage"></span> </li>
            <li id="item4"><span id="packaging"></span> </li>
        </ul>

    </div>

    <button type="button" class="payButton"> Add to basket</button>

</div>

</body>
</html>