<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer page</title>
    <link rel="stylesheet" href="../Styles/customerPage.css">
</head>
<body>
<div class="background">

    <div class = "header">
        <!-- This should include the header master.html-->

    </div>

    <div class="main" id="username">
        <p> Put name in here </p>

        <div id="buttonGroup">
            <button id="CheckBalance" type="button">Check balance</button>
            <button id="TopUp" type="button">Top up credit</button>
            <button id="SeeOrder" type="button">See order history</button>
            <button id="ChangePassword" type="button">Change password</button>
        </div>
    </div>

    <div class = "sidebar">
        <!--This should include the cart -->

    </div>
</div>



</body>
</html>



