<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer page</title>
    <link rel="stylesheet" href="../Styles/customerPage.css">

    <script src="../Scripts/jquery.js"></script>
    <script>
        $(function(){
            $("#masterContent").load("master.html");
        });
    </script>


</head>
<body>

<div id="masterContent"></div>
    <div class = "header">
        <!-- This should include the header master.html-->

    </div>

    <div class="wrapper">
    <div class="main" id="username">
        <h2> Put text in here! </h2>
    </div>

        <div id="buttonGroup">
            <div class="buttonGroupInner">
                <button id="CheckBalance" type="button" class="settingButton">Check balance</button>
                <button id="TopUp" type="button" class="settingButton">Top up credit</button>
                <button id="SeeOrder" type="button" class="settingButton">See order history</button>
                <button id="ChangePassword" type="button" class="settingButton">Change password</button>
            </div>
        </div>
    </div>

    <div class = "sidebar">
        <!--This should include the cart -->

    </div>
</body>
</html>



