<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blow The Fog Horn </title>
    <link rel="stylesheet" href="../Styles/style.css">
    <script src="../Database/Dutchman%20Files/BeerDB.js"></script>
    <script src="../Database/Dutchman%20Files/Beverages.js"></script>
    <script src="../Database/Dutchman%20Files/DBLoaded.js"></script>
    <script src="../Database/Dutchman%20Files/loader.js"></script>
    <script src="../Database/Dutchman%20Files/ModelFunctions.js"></script>
    <script src="../Scripts/jquery.js"></script>
    <script>
        $(function(){
            $("#masterContent").load("master.html");
        });
    </script>



</head>

<body>
    <div id="masterContent"></div>
 <h1>Under Construction</h1>
</body>
</html>