<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blow The Fog Horn </title>
    <link rel="stylesheet" href="../Styles/style.css">
    <script src="../Database/Dutchman%20Files/BeerDB.js"></script>
    <script src="../Database/Dutchman%20Files/Beverages.js"></script>
    <script src="../Database/Dutchman%20Files/DBLoaded.js"></script>
    <script src="../Database/Dutchman%20Files/loader.js"></script>
    <script src="../Database/Dutchman%20Files/ModelFunctions.js"></script>

</head>
<body>
 <div id="main_menu" >
     <div class="inline" id="back">
         <img src="../img/left_arrow.png">
     </div>

     <div class="inline" id = "help">
         <img src="../img/help.png">
     </div>
     <div class="inline" id = "home">
         <img src="../img/home.png">
     </div>
     <div class="inline_flags" id = "swedish">
         <div class="flag">
             <img  class= "flag_img" src="../img/if_Sweden_flat_92366.png" >
         </div>

         <div class="flag">
             <img  class= "flag_img" src="../img/if_United-Kingdom_92403.png" >
         </div>

         <div class="flag">
             <img  class= "flag_img" src="../img/if_Germany_92095.png" >
         </div>

         <div class="flag">
             <img  class= "flag_img" src="../img/if_Greece_flat_92102.png" >
         </div>
     </div>

     <br class="clearBoth" />
     <div class="inline_buttons">
         <button class="curved_btn">V.I.P Login</button>

     </div>
 </div>
</body>
</html>