    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blow The Fog Horn </title>
        <!--
        This page contains the main menu and is loaded in every page
       -->
        <link rel="stylesheet" href="../Styles/style.css">
        <!--
        Import jquery
        -->
        <script src="../Scripts/jquery.js"></script>

        <!--
        Import to translate customerBeerInfo.html
        -->
        <script src="../Scripts/translateCustomerBeerInfo.js"></script>

        <!--
        Import to translate customerPage.html
        -->
        <script src="../Scripts/translateCustomerPage.js"></script>

        <script src="../Scripts/translateOrderConfirmation.js"></script>

        <script src="../Scripts/translateShoppingBasket.js"></script>

        <script src="../Scripts/translateStaffSettings.js"></script>


        <script src="../Scripts/translateStaffBasket.js"></script>
        <script src="../Scripts/translatePlaceNewOrder.js"></script>
        <script src="../Scripts/translateMasterPage.js"></script>
        <script src="../Scripts/translateCompleteOrder.js"></script>
        <script src="../Scripts/translatewelcomepage.js"></script>
        <script src="../Scripts/translateSearchBeer.js"></script>

        <!--
        Load cart script
        -->

       <!--
       Shouldn't be imported, the functions in the beertype.js are self invoking
       <script src="../Scripts/beertype.js"></script>

-->
        <script src="../Database/Dutchman%20Files/BeerDB.js"></script>
        <script src="../Database/Dutchman%20Files/Beverages.js"></script>
        <script src="../Database/Dutchman%20Files/DBLoaded.js"></script>
        <script src="../Database/Dutchman%20Files/loader.js"></script>
        <script src="../Database/Dutchman%20Files/ModelFunctions.js"></script>
        <script src="../Scripts/master.js"></script>


        

    </head>
    <body>

    <!-- The header -->
    <div id="main_menu" style="clear:both;">

        <!-- The buttons on the left -->
        <div id="container_back_help_home">
            <div class="inline" id="back">
                <img  class="imgSize" src="../img/arrowleft.png">
            </div>

            <div class="inline" id = "help">
                <img  class="imgSize" src="../img/questionmark.png">
            </div>

            <div class="inline" id = "home">
                <img class="imgSize" src="../img/homeButton.png">
            </div>

            <!-- 
            <div class="inline" id = "settings">
                <img style="display: none;" id = "settingsIcon" class="imgSize" src="../img/settings.png">
                <label style="display: none;" id="vipLabel"><em>V.I.P</em></label>
            </div> -->

        </div>

        <!-- login/logout/cart buttons on the right -->
        <div id="container_login_cart" >
            <div class="inline_buttons" id="login" style="display:none">
                <img id = "loginIcon" class="imgSize" src="../img/login.png">
                <label id="loginLabel"><em>Johan</em></label>
            </div>

            <div class="inline_buttons">
                <button  id ="vipBtn" class="curved_btn" ></button>
            </div>

            <div id= "logout" class="inline_buttons" style="display:none">
                <button id ="logoutBtn" class="curved_btn"  href="#"></button>
            </div>

            <div hidden id="cart" class="inline_buttons" >
                <button id ="cartBtn" class="curved_btn"></button>
                <label id ="cartLabel"></label>
            </div>
        </div>

        <!-- The 4 flags in the middle -->
        <div class="inline_flags" id="container_flags">
            <div class="flag">
                <img  class= "flag_img" id="swedishFlag" src="../img/if_Sweden_flat_92366.png"   >
            </div>

            <div class="flag">
                <img  class= "flag_img" id="ukFlag" src="../img/if_United-Kingdom_92403.png" >
            </div>

            <div class="flag">
                <img  class= "flag_img" id="germanFlag" src="../img/if_Germany_92095.png" >
            </div>

            <div class="flag">
                <img  class= "flag_img" id="greekFlag" src="../img/if_Greece_flat_92102.png" >
            </div>
        </div>

    </div>
    </body>
    </html>


            