<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blow The Fog Horn </title>
    <link rel="stylesheet" href="../Styles/style.css">
    <!--
    Import jquery
    -->
    <script src="../Scripts/jquery.js"></script>

    <script src="../Scripts/translateCustomerBeerInfo.js"></script>

    <script src="../Database/Dutchman%20Files/BeerDB.js"></script>
    <script src="../Database/Dutchman%20Files/Beverages.js"></script>
    <script src="../Database/Dutchman%20Files/DBLoaded.js"></script>
    <script src="../Database/Dutchman%20Files/loader.js"></script>
    <script src="../Database/Dutchman%20Files/ModelFunctions.js"></script>

    <script>

        $( document ).ready(function() {
            console.log( "ready!" );
            $( window ).on( "load", translateTo(english) );
        });

    $(function() {
        $("#swedishFlag").on("click", function(){
            translateTo(swedish);
        });
    });

    $(function() {
        $("#ukFlag").on("click", function(){
            translateTo(english);
        });
    });

    $(function() {
        $("#greekFlag").on("click", function(){
            translateTo(greek);
        });
    });


    </script>



</head>
<body ">
 <div id="main_menu" >
     <div class="inline" id="back">
         <img  class="imgSize" src="../img/arrowleft.png">
     </div>

     <div class="inline" id = "help">
         <img  class="imgSize" src="../img/questionmark.png">
     </div>
     <div class="inline" id = "home">
         <img class="imgSize" src="../img/homeButton.png">
     </div>

     <div class="inline" id = "settings">
         <img hidden id = "settingsIcon" class="imgSize" src="../img/settings.png">
         <label hidden id="vipLabel"><em>V.I.P</em></label>

     </div>

     <div class="inline" id = "login">
         <img hidden id = "loginIcon" class="imgSize" src="../img/login.png">
         <label hidden id="loginLabel"><em>Johan</em></label>

     </div>




     <div class="inline_flags" id = "swedish" >
         <div class="flag">
             <img  class= "flag_img" id="swedishFlag" src="../img/if_Sweden_flat_92366.png"   >
         </div>

         <div class="flag">
             <img  class= "flag_img" id="ukFlag" src="../img/if_United-Kingdom_92403.png" >
         </div>

         <div class="flag">
             <img  class= "flag_img" src="../img/if_Germany_92095.png" >
         </div>

         <div class="flag">
             <img  class= "flag_img" id="greekFlag" src="../img/if_Greece_flat_92102.png" >
         </div>
     </div>

     <br class="clearBoth" />
     <div class="inline_buttons">
         <button class="curved_btn">V.I.P Login</button>

     </div>

     <div id="cart" class="inline_buttons">
         <button class="curved_btn">Cart</button>
         <label id ="cartLabel">1</label>

     </div>


 </div>
</body>
</html>