<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order confirmation</title>
    <link rel="stylesheet" href="../Styles/ChristinasCSS.css">

    <script src="../Scripts/jquery.js"></script>
    <script src="../Scripts/translateOrderConfirmation.js"></script>
    <script src="../Database/Dutchman%20Files/translations.js"></script>

    <script>
        $(function(){
            $("#masterContent").load("master.html",null,function(){
                // $(document).ready(function(){
                //   $("#settingsIcon").show();
                //  $("#vipLabel").show();
                //$("#loginIcon").show();
                // $("#loginLabel").show();

            });
        });


    </script>
</head>

<body id="index">
<div id="masterContent"></div>
<!-- <div class = "header">
     This should include the header master.html
            
</div> -->
<div class="wrapper">
    <div class="text">
        <p id="thankYou"></p>
    </div>
</div>

</body>
</html>
