<!DOCTYPE html>
<html lang="en">
<head>
    <title>P10</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/P10.css">

    <script src="../Scripts/jquery.js"></script>
    <script>
        $(function(){
            $("#masterContent").load("master.html");
        });
    </script>
</head>
<body>
<div id="masterContent"></div>


<div id="BeerArea">
    <label id="beerLabel">Beer A</label>
    <br>
     <div id="infoArea">
        <div id="infoLeft" class="infoHeader">
            <span class="infoHeader">Info:</span>
        </div>
          <div id="vertical-line"></div>
         <div id="infoRight">
           <span class="infoHeader">Results:</span>

         </div>
     </div>
            <button id="addToBasket">
                Add To Basket
            </button>
    <button id="beersToOrder">
        Add Beers To Order
    </button>
     </div>

</body>
</html>