<!DOCTYPE html>
<html lang="en">
<head>
    <title>Place New Order</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/P10.css">

    <script src="../Scripts/jquery.js"></script>


    <script src="../Scripts/translatePlaceNewOrder.js"></script>
    <script src="../Database/Dutchman Files/Beverages.js"></script>

    <script src="../Database/Dutchman Files/translations.js"></script>

  <script>
    $(function(){
            $("#masterContent").load("master.html",null,function(){
        // $(document).ready(function(){
            $("#settingsIcon").show();
            $("#vipLabel").show();
            $("#loginIcon").show();
            $("#loginLabel").show();

        });
    });
    </script>
</head>
<body>
<div id="masterContent"></div>
<div class="mainArea">
    <h2  id = "newOrder" class="centered_top_1">Place New Order:</h2>
    <input class="centered_top_2" id="beerSearch"  type="text" placeholder="Search..">
    <h2  id = "mostPopular" class="centered_middle_1">Most Popular:</h2>
    <div id="resultArea" class="centered_middle_2">
        <ul id="beerList">
            <li>Beer1</li>
            <li>Beer2</li>
            <li>Beer3</li>
            <li>Beer1</li>
            <li>Beer2</li>
            <li>Beer3</li>
            <li>Beer1</li>
            <li>Beer2</li>
            <li>Beer3</li>
            <li>Beer1</li>
            <li>Beer2</li>
            <li>Beer3</li>

        </ul>
    </div>

    <div id = "typeArea" class="centered_right">
        <ul id="typeList">
        <li>Type1</li>
        <li>Type2</li>
        <li>Type3</li>


        </ul>
    </div>

</div>


</body>
</html>