  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Blow The Fog Horn </title>
      <link rel="stylesheet" href="../Styles/Simon.css">
      <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
	  <script src="../Scripts/jquery.js"></script>
	  <script src="../Scripts/translateMasterPage.js"></script>
	  <script src="../Database/Dutchman Files/translations.js"></script>
	  <script src="../Database/Dutchman Files/Selectedbeers.js"></script>
	  <script src="../Database/Dutchman Files/Beverages.js"></script>
	  <script src="../Scripts/beertype.js"></script>

	  <script>
		  $(function(){
	          $("#masterContent").load("master.html",null,function(){

	          });
	      });
	  </script>
  </head>

  <body>
	<div id="masterContent"></div>
    <body>

    <div>
        <h1 class="header" id="search_beer_heading">Browse our beers!</h1>
    </div>
		<div id="container_beer_types" class="beertypes">

		  <!-- <ul class ="Product_gallery" id="myUL"> --> 
			    <div class="beerbox" id="Light Lagers">
				    <img class="beer_img" src="../img/LLbeer.jpg" />
				      <!-- trigger the mPopup -->
				      <div class="Product_information">
						<a id="LLlink" href="#" onclick="lagerclicked();return false;">Light Lagers</a>
					</div>
			    </div>

         		<div class="beerbox" id="Porters_Stouts">
				    <img class="beer_img" src="../img/PSbeer.jpg" />

				      <div class="Product_information">
					    <a id="PSlink" href="#" onclick="psclicked();return false;">Porters & Stouts</a>
				      </div>
			    </div>

				<div class="beerbox" id="Ales">
				    <img class="beer_img" src="../img/Abeer.jpg" />

				      <div class="Product_information">
					    <a id="Alelink" href="#" onclick="aleclicked();return false;">Ales</a>
				        </div>

			    </div>
				<div class="beerbox" id="Dark_lager">
				    <img class="beer_img" src="../img/DLbeer.jpg" />

				    <div class="Product_information">
					    <a id="DLlink" href="#" onclick="dlclicked();return false;">Dark Lager</a>
				    </div>
			    </div>

		  </div>
	</body>
</html>