<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Basket</title>
    <link rel="styleSheet" href="../Styles/shoppingBasketNew.css">

    <script src="../Scripts/jquery.js"></script>
    <script src="../Scripts/cart.js"></script>

    <script src="../Scripts/translateShoppingBasket.js"></script>
    <script src="../Scripts/undoredo.js"></script>
    <script src="../Database/Dutchman Files/translations.js"></script>
    <script src="../Database/Dutchman Files/Beverages.js"></script>




    <script>
        $(function(){
            $("#masterContent").load("master.html",null,function(){
                // $(document).ready(function(){
                //   $("#settingsIcon").show();
                //  $("#vipLabel").show();
                //$("#loginIcon").show();
                // $("#loginLabel").show();

            });
        });

        //$(function (){
            /*
            Displays the cart once the page loaded
             */
        //  displayCart();
        //});

        $(function() {
            $("#pay_under_cart").on("click", function(){
                window.location.href = "../Views/orderConfirmation.html"

                });
            });
    </script>

</head>
<body>

<div id="masterContent"></div>
    
    <!-- <div class = "header">
         This should include the header master.html a logged in customer -->

   <div class="beerwrapper">

        <h1 id="browsebeerheading">The Shopping Cart</h1>

    </div>
    <div class="total" id="totalamount">

    </div>
        <!--All the cells in the table -->
        <div class="wrapper">
            <table class="empty" id="tableid">
                <tr>
                    <!-- <th class="nolines"></th> -->
                    <th class="items" id="article"> </th>
                    <th class="items" id="cost"></th>
                </tr>

                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items" id="cost1"></td>
                </tr>
                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items" id="cost2"></td>
                </tr>
                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items" id="cost2"></td>
                </tr>
                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items"></td>
                </tr>
                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items"></td>
                </tr>
                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items"></td>
                </tr>
                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items"></td>
                </tr>
                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items"></td>
                </tr>
                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items"></td>
                </tr>
                <tr>
                    <!-- <td class="nolines"><button type="button" class="tableButton">X</button></td> -->
                    <td class="items" id="article1"></td>
                    <td class="items"></td>
                </tr>
                <tr>
                    <td class="nolines"></td> <!-- <button type="button" class="tableButton">X</button> -->
                    <td class="items" id="article1"></td>
                    <td class="items"></td>
                </tr>
                <!--
                <tr>
                    <th class="nolines"><button type="button" class="tableButton">X</button> </th>
                    <td class="items" id="article2"></td>
                    <td class="items">Amount2</td>
                    <td class="items">Cost2</td>
                </tr>

                <tr>
                    <th class="nolines"><button type="button" class="tableButton">X</button> </th>
                    <td class="items" id="article3"></td>
                    <td class="items">Amount3</td>
                    <td class="items">Cost3</td>
                </tr> -->

            </table>
        <div>
        <button type="button" class="payButton" id="pay_under_cart">Pay</button>
        </div>
    </div>
   </div>
</body>
</html>