<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Basket</title>
    <link rel="styleSheet" href="../Styles/shoppingBasket.css">

    <script src="../Scripts/jquery.js"></script>
    <script src="../Scripts/translateCustomerBeerInfo.js"></script>

    <!--
    Import Beverages db
    -->
    <script src="../Database/Dutchman Files/Beverages.js"></script>
    <!--
    Import translations
    -->
    <script src="../Database/Dutchman Files/translations.js"></script>

    <script>
        $(function(){
            $("#masterContent").load("master.html",null,function(){
                // $(document).ready(function(){
                //   $("#settingsIcon").show();
                //  $("#vipLabel").show();
                //$("#loginIcon").show();
                // $("#loginLabel").show();

            });
        });
    </script>

</head>
<body>

<div id="masterContent"></div>
    <div class = "header">
        <!-- This should include the header master.html a logged in customer -->

    </div>

        <h1>This is the shopping basket</h1>

        <!--All the cells in the table -->
        <div class = customerCart>
            <table>
                <tr>
                    <th class="noLines">Hej</th>
                    <th class="items">Article </th>
                    <th class="items">Amount</th>
                    <th class="items">Cost</th>
                </tr>

                <tr>
                    <td class="noLines"><button type="button" class="tableButton">X</button> </td>
                    <td class="items">Article1</td>
                    <td class="items">Amount1</td>
                    <td class="items">Cost1</td>
                </tr>

                <tr>
                    <th class="noLines"><button type="button" class="tableButton">X</button> </th>
                    <td class="items">Article2</td>
                    <td class="items">Amount2</td>
                    <td class="items">Cost2</td>
                </tr>

                <tr>
                    <th class="noLines"><button type="button" class="tableButton">X</button> </th>
                    <td class="items">Article3</td>
                    <td class="items">Amount3</td>
                    <td class="items">Cost3</td>
                </tr>


            </table>

        <button type="submit" class="payButton">Pay</button>



</body>
</html>