<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Settings</title>
    <link rel="stylesheet" href="../Styles/ChristinasCSS.css">

    <script src="../Scripts/jquery.js"></script>
    <script>
        $(function(){
            $("#masterContent").load("master.html");
        });
    </script>
</head>

<body>

<div id="masterContent"></div>
    <div class = "header">
        <!-- This should include the header master.html-->
            
    </div>

<div class="wrapper">
    <div class="text">
        <h2> Lorem ipsum dolor sit amet </h2>
    </div>

     <div class="buttonbox">
     	<div class="buttonboxinner">
        	<button type="button" class="settingButton">Lorem ipsum</button>
        	<button type="button" class="settingButton">Lorem ipsum</button>
        	<button type="button" class="settingButton">Lorem ipsum</button>
    	</div>
    </div>
</div>

</body>
</html>
