<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Settings</title>
    <link rel="stylesheet" href="../Styles/ChristinasCSS.css">

    <script src="../Scripts/jquery.js"></script>

	<!--
    Import translation script
    -->
	<script src="../Scripts/translateStaffBasket.js"></script>
	<script src="../Database/Dutchman Files/translations.js"></script>

    <script>
        $(function(){
            $("#masterContent").load("master.html",null,function(){
                // $(document).ready(function(){
                //   $("#settingsIcon").show();
                //  $("#vipLabel").show();
                //$("#loginIcon").show();
                // $("#loginLabel").show();

            });
        });
    </script>

</head>
<body>

<div id="masterContent"></div>
    <div class = "header">
        <!-- This should include the header master.html-->
            
    </div>

	<div class="wrapper">
    	<div class="text">
       	 	<h2> Lorem ipsum dolor sit amet </h2>
   		</div>

   		<div>
   			<table>
 				<tr>
 					<th class="nolines"></th>
				    <th class="bgdiff" id="article"></th>
				    <th class="bgdiff" id="amount"></th>
				    <th class="bgdiff" id="cost"></th>
  				</tr>
  				<tr>
  					<th class="nolines"><button type="button" class="tablebutton">X</button></th>
				    <td class="bgdiff">Lorem ipsum</td>
				    <td class="bgdiff">Lorem ipsum</td>
				    <td class="bgdiff">Lorem ipsum</td>
				</tr>
				<tr>
					<th class="nolines"><button type="button" class="tablebutton">X</button></th>
				    <td class="bgdiff">Lorem ipsum</td>
				    <td class="bgdiff">Lorem ipsum</td>
				    <td class="bgdiff">Lorem ipsum</td>
				</tr>
				<tr>
					<th class="nolines"><button type="button" class="tablebutton">X</button></th>
				    <td class="bgdiff">Lorem ipsum</td>
				    <td class="bgdiff">Lorem ipsum</td>
				    <td class="bgdiff">Lorem ipsum</td>
				</tr>
			</table> 
		</div>
		<div>
			<button type="button" class="payButton" id="payStaff"></button>
		</div>

</body>
</html>
