  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Welcome to the Flying Dutchman!</title>
      <link rel="stylesheet" href="../Styles/Simon.css">
      <script src="../Scripts/jquery.js"></script>
	    
	  <!--  Import translations -->
	  <script src="../Scripts/translateMasterPage.js"></script>
      <script src="../Scripts/translatewelcomepage.js"></script>
	  <script src="../Database/Dutchman Files/translations.js"></script>

	  <script>
	    /* Loads the master.html into the page */
	        $(function(){
	            $("#masterContent").load("master.html",null,function(){
	            });
	        });
	    </script>


	  </head>

	  <body id="index">
	  <div id="masterContent"></div>

    <!-- The header that welcomes the user --> 
    <div>
        <h1 class="header" id="welcomeheader"></h1>
    </div>

    <!-- The button that adresses the user to our beer --> 
    <div id="our_beer_container">
      <a href="searchbeer.html">
      <button id="beerbutton">Our beers</button></a>
    </div>
  
  </body>

  </html>
