
/*
background image
 */

html {
    background: url(../img/paper_texture_v5_by_bashcorpo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.wrapper {
	text-align: center;
}

div.text {
    font-size: 40px;
    color: black;
    display: inline-block;
    width: 70%;
    height:50%;
}

div.buttonbox {
    display: block;
    text-align:center;
}

div.buttonboxinner {
    display: inline-block;
    text-align: center;
    width: 35%;
    height:70%;
}

button {
	background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    padding: 18px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 50px 45px 40px;


    	/* old green buttons
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 18px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 50px 50px 40px; */
} 

button:hover{
    opacity: 0.8;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    display: inline-block;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 7px  15px;
}

.bgdiff {
    background-color: white;
}

.tablebutton {
    margin: 5px;
    background-color: red;
    padding: 12px;
    border-radius: 50%;
}

.nolines {
    border: none;
    background: default;
}

.payButton {
	background-color: green;
}