
div.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1%;
}

/*
The left div with background information
 */
div.beerBackgroundInfo{
    background-color: white;
    opacity: 0.8;
    min-width: 20%
    display: inline-block;
    border-right: 5px black solid;
    border-left: 1px black solid;
    border-top: 1px black solid ;
    border-bottom: 1px black solid;
    text-align: left;
    padding-right: 20px;
}

/*
The right div with information about the beer's cost
 */
div.beerCostInfo{
    background-color: white;
    opacity: 0.8;
    min-width: 20%;
    display: inline-block;
    border-left: 5px black solid;
    border-right: 1px black solid ;
    border-top: 1px black solid ;
    border-bottom: 1px black solid;
    text-align: left;
    padding-right: 20px;
}

ul{
    list-style-type: square;
    font-size: 25px;
}

span{
    font-weight: bold;
}

h1#beerName{
    text-align: center;
    color: black;
    font-size: 45px;
    margin: 10px;
    margin-top: 3%;
}

/*
Button so the user can pay for the items
 */
.payButton{

    height: 50px;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;

    /*
    Color of the button
     */
    background-color: white;
    opacity: 0.8;
    color: black;
    font-size: 20px;

    /*
    position of the text
     */
    padding-left: 50px;

    /*
    Settings for the plus symbol
     */
    background-image: url("../img/43869-plus-positive-add-mathematical-symbol.png");
    background-size: 20% 80%;
    background-repeat: no-repeat;
    background-position: left;

    background-color: #2ECC40; /* green */
}

.paybutton:hover {
    opacity: 0.8;
    cursor: pointer;
}

html {
    background: url(../img/paper_texture_v5_by_bashcorpo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#nameWrapper {
    text-align: center;
    padding-bottom: 2%;
    margin-top: 8%;
}

.wrapper {
    text-align: center;
}
