@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

div.customerCart{
    background-color: white;
    color:black;
    font-size: 25px;
    border: 4px solid black;
    width: 50%;
    height: 500px;
    opacity: 0.8;
    display: table;
    position: absolute;
    left: 25%;
}


table, tr, td{
    border: 2px black solid;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    padding: 7px  15px;

}

button.tableButton{
    margin: 5px;
    background-color: red;
    padding: 12px;
    border-radius: 50%;
}

th.noLines{
    border: none;

}

button.payButton{
    /*
  Position of the button
   */
    position: absolute;
    top: 105%;
    left: 0%;
    height: 50px;
    width: 200px;
    border-radius: 4px;

    /*
    Color of the button
     */
    background-color: white;
    opacity: 0.8;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

h1{
    text-align: center;
    color: white;
    font-size: 45px;
    margin: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

/*
background image
*/

html {
    background: url(../img/paper_texture_v5_by_bashcorpo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*

div.headers{
    height: 30%;
    display:table-row;
}

div#articleHeader{
    width:50%;
    float:left;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}


div#amountHeader{
    width:24.7%;
    float:right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;

}

div#costHeader{
    width:25%;
    float:right;
    border-bottom: 1px solid black;
    text-align: center;
}


div#item1{
    height: 20%;
    top: -24%;
    background-color: grey;


}

div#article1{
    border: 1px solid black;
    display: table-cell;
}

div#amount1{
    float:right;
    background-color: yellow;
    border: 1px solid black;

}

div#cost1{
    float:right;
    background-color: red;
    border: 1px solid black;
}


*/

