@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';



div.main{
    position: relative;
    top:200px;
    left: 30%;
    width: 800px;
    height: 650px;
}

div.basket{
    background-color: white;
    color:black;
    font-size: 25px;
    border: 4px solid black;
    width: 100%;
    height: 500px;
    opacity: 0.8;
    display: table;
}


table, tr, td{
    border: 1px black solid;
    border-collapse: collapse;
    width: 100%;


}

div.tableButton{
    display: block;


}

div#payButton{


}

h1{
    text-align: center;
    color: white;
    font-size: 45px;
    margin: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

/*
background image
*/

html {
    background: url(../img/paper_texture_v5_by_bashcorpo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*

div.headers{
    height: 30%;
    display:table-row;
}

div#articleHeader{
    width:50%;
    float:left;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}


div#amountHeader{
    width:24.7%;
    float:right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;

}

div#costHeader{
    width:25%;
    float:right;
    border-bottom: 1px solid black;
    text-align: center;
}


div#item1{
    height: 20%;
    top: -24%;
    background-color: grey;


}

div#article1{
    border: 1px solid black;
    display: table-cell;
}

div#amount1{
    float:right;
    background-color: yellow;
    border: 1px solid black;

}

div#cost1{
    float:right;
    background-color: red;
    border: 1px solid black;
}


*/

