@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';


table {
    border-collapse: collapse;
    display: inline-block;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 7px  15px;
}

.bgdiff {
    background-color: white;
}

.tablebutton {
    margin: 5px;
    background-color: #C80000; /* red */
    padding: 12px;
    border-radius: 50%;
}

.nolines {
    border: none;
    background: default;
}

button.tableButton{
    margin: 5px;
    background-color: #FF4136; /* red */
    padding: 12px;
    border-radius: 30%;
    color: white;
}

.tablebutton, .paybutton {
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    padding: 18px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 50px 25px 40px;
    border-radius: 4px;
}

.payButton {
    background-color: green;
    width: 12%;
    height: 5%;
}

div.wrapper {
    text-align: center;
}

div.text {
    font-size: 40px;
    color: black;
    display: inline-block;
    width: 70%;
    height:50%;
}

/*
background image
*/
html {
    background: url(../img/paper_texture_v5_by_bashcorpo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.items {
    background-color: white;
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
}

h1 {
    color:black;
    text-align:center;
    font-size:400%;
}

#browsebeerheading {
  font-family: Garamond, Times, serif;
  color: #606060; /* grey; */
  margin-top: 6%;
  text-align: center;
  margin-bottom: 2%;
}

#beerWrapper {
    text-align: center;
    padding-bottom: 2%;
}

#pay_under_cart {
    padding: 10px 5px;
    background-color: #2ECC40; /* green */
    border: none;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 10px;
    text-shadow: 1px 1px #666;

    /*
    Settings for the tick
     */
    background-image: url("../img/tick.png");
    background-size: 20% 80%;
    background-repeat: no-repeat;
    background-position: left;

    margin-top: 1%;
}

.total {
    color: black;
    font-size: 24px;
    margin-left: 45%;
    margin-bottom: 1%;
}

table.empty {
    empty-cells: hidden;
}

td:empty {
    visibility: hidden;
}
