h1 {
     color: #dce28d;
 }

 #main_menu {
    text-align: center;
    width: 100%;
    margin-bottom: 8%;
 }

div.inline {
    float:left;
    margin-right: 10%;
    margin-bottom: 10%;
    cursor: pointer;
}

div.inline_flags {
    margin: 0 auto;
}

div.inline_buttons {
    float:right;
    margin-bottom: 5%;
    cursor: pointer;
}

div.flag {
    margin: 0 auto;
    display: inline-block;
    padding: 3%;
}

img.flag_img{
    height: 50%;
    width:80%;
    cursor: pointer;
}

button.curved_btn {
     background-color: #FFC02E; /* Same colour as icons */
     border: none;
     color: white;
     padding: 20px;
     text-decoration: none;
     font-size: 16px;
     cursor: pointer;
     border-radius: 8px;
     line-height: 0.5px;
 }

button.checkout_btn {
    background: url('../img/shopping-cart-icon.png') no-repeat;
}

.clearBoth { 
    clear:both; 
}

.imgSize{
    width: 50px
}

.cartImgSize{
    width: 50px;
}

#container_back_help_home {
    float: left;
    width: 30%;
}

#container_login_cart {
    float: right;
    width:30%;
}

#container_flags {
    display: inline-block;
    margin: 0 auto;
    width: 30%;
}

div#login {
    float:left;
    padding-left: 15%;
}

div#cart {
    clear: both;
}